<%= simple_form_for :post, url: posts_path do |f| %>
<%= f.input :title %><br>
<%= f.collection_select :lecture_id, Lecture.all, :id, :name, { promt: "Choose a Lecture" } %>
<%= f.input :content, as: :text %><br>
<%= f.input :deadline, as: :datetime, label: "Deadline :" %>

<p> <%= f.submit %> </p>
<% end %>
