
<h1>[<%= Lecture.find(@post.lecture_id).name %>] <%= @post.title %></h1>

<p> <%= @post.content %> </p>

<p> <%= @post.deadline %> </p>

<%= link_to "Back", root_path %>
<%= link_to "New Announcement", new_post_path %>
